[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
social-auth-app-django = "*"
social-auth-core = "*"
django-extensions = "*"
django-taggit = "*"
mysqlclient = "==2.1.1"

[dev-packages]

[requires]
python_version = "3.10"
